<form action="https://x19mclobt.nie.netease.com/game-patch-info/ " method="post">
  mc_version=
  <input id="mc_version" name="mc_version" value="1015000">
  <input type="submit" value="Submit"><br>
  0 / 1015000 / 1016000 / 1014003 / 1007010..
</form>