<h1>uri.ics - Calling System SUPPORT-URI's On 3.73</h1><br>
<form action="uri.php" method="post">
SUPPORT-URI: <input type="text" name="uri"><br>
E-MAIL: <input type="text" name="email"><br>
<input type="submit">
</form> 
